<div class="copyright-footer">
  <div class="row container">
    <div class="small-12 columns">
      <div class="copyright">{{ text }}</div>
      <div class="design">
        <span>webdesign by</span>
        <a href="http://www.egm.sk/" target="_blank">
          <img src="{{ image }}" alt="EGM" class="design_logo" >
        </a>
      </div>
    </div>
  </div>
</div>
